<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="time manager, time, schedule, время, тайм менеджер, расписание" />
    <meta name="description" content="Этот сайт поможет вам наиболее оптимально распределить время" />
    <link href="{{ css }}/fonts.css" rel="stylesheet" type="text/css" />
    <link href="{{ css }}/base/{{ theme }}/grid.css" rel="stylesheet" type="text/css" />
    <link href="{{ css }}/base/{{ theme }}/{{ color }}.css" rel="stylesheet" type="text/css" />
    <link href="{{ css }}/profile/{{ theme }}/grid.css" rel="stylesheet" type="text/css" />
    <link href="{{ css }}/profile/{{ theme }}/{{ color }}.css" rel="stylesheet" type="text/css" />
    <link href="{{ img }}/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <span class="left">
            <a href="/">
                Time Manager
            </a>
        </span>
        <a class="center" href="/list">Списки</a>
        <a class="center" href="/day">Расписание</a>
        <a class="center" href="/month">Дедлайны</a>
        <span class="right">
            <a>
                <img id="avatar" src="{{ img }}/avatar/{{ log }}.png"
                     src="{{ img }}/avatar/{{ log }}.jpg"
                     src="{{ img }}/avatar/{{ log }}.jpeg"
                     src="{{ img }}/avatar/{{ log }}.bmp"
                     src="{{ img }}/avatar/{{ log }}.gif">
                <img id=set_icon src="{{ img }}/set_icon.svg">
                <div>{{ log }}</div>
            </a>
        </span>
    </header>

{#    {% include profile.html %}#}

    <main>
        {% block content %} {% endblock %}
    </main>

    <footer>
        <span class="left" title="Союз Советских Социалистических Рептилоидов">Проект СССР</span>
        <span class="center" title="Ну сказал же, что не защищены, ну чего ты ещё добиваешься?!">Все права защищены(нет) &copy; 2020 г.</span>
        <span class="right" title="Мы жили взаперти и питались энергией солнца"><a href="{{ url_for('page_about') }}">Разработчики</a></span>
    </footer>
</body>
</html>