<div id="hat">
    <span id="avatar">
        <img src="{{ img }}/avatar/{{ log }}.png"
             src="{{ img }}/avatar/{{ log }}.jpg"
             src="{{ img }}/avatar/{{ log }}.jpeg"
             src="{{ img }}/avatar/{{ log }}.bmp"
             src="{{ img }}/avatar/{{ log }}.gif">
        <img id="float" src="{{ img }}/change_avatar.svg">
    </span>
    <span id="edit_profile">
        <div> Изменить логин </div>
        <div> Изменить пароль </div>
    </span>
</div>
<menu>
    <div class="theme light">
        <form action="/change_theme" method="POST">
                <button class='red' type="submit" name="send_color" value="light red"></button>
                <button class='blue' type="submit" name="send_color" value="light blue"></button>
                <button class='green' type="submit" name="send_color" value="light green"></button>
                <button class='purple' type="submit" name="send_color" value="light purple"></button>
                <button class='sky' type="submit" name="send_color" value="light sky"></button>
                <button class='black' type="submit" name="send_color" value="light black"></button>
        </form>
    </div>
    <div class="theme dark">
        <form action="/change_theme" method="POST">
                <button class='red' type="submit" name="send_color" value="dark red"></button>
                <button class='blue' type="submit" name="send_color" value="dark blue"></button>
                <button class='green' type="submit" name="send_color" value="dark green"></button>
                <button class='purple' type="submit" name="send_color" value="dark purple"></button>
                <button class='sky' type="submit" name="send_color" value="dark sky"></button>
                <button class='black' type="submit" name="send_color" value="dark black"></button>
        </form>
    </div>
</menu>