<div id="hat">
    <span id="avatar">
        <img src="{{ img }}/avatar/{{ log }}.png"
             src="{{ img }}/avatar/{{ log }}.jpg"
             src="{{ img }}/avatar/{{ log }}.jpeg"
             src="{{ img }}/avatar/{{ log }}.bmp"
             src="{{ img }}/avatar/{{ log }}.gif">
        <span id="float">Изменить</span>
    </span>
    <span id="edit_profile">
        <div> Изменить логин </div>
        <div> Изменить пароль </div>
    </span>
</div>
<menu>
    <form action="/change_theme" method="POST" class="theme light">
            <button type="submit" name="send_color" value="light red"></button>
            <button type="submit" name="send_color" value="light blue"></button>
            <button type="submit" name="send_color" value="light green"></button>
            <button type="submit" name="send_color" value="light purple"></button>
            <button type="submit" name="send_color" value="light sky"></button>
            <button type="submit" name="send_color" value="light black"></button>
    </form>
    <form action="/change_theme" method="POST" class="theme dark">
            <button type="submit" name="send_color" value="dark red"></button>
            <button type="submit" name="send_color" value="dark blue"></button>
            <button type="submit" name="send_color" value="dark green"></button>
            <button type="submit" name="send_color" value="dark purple"></button>
            <button type="submit" name="send_color" value="dark sky"></button>
            <button type="submit" name="send_color" value="dark black"></button>
    </form>
</menu>