<div id="hat">
    <span id="avatar">
        <img src="{{ img }}/avatar/{{ log }}.jpg">
        <img id="float" src="{{ img }}/change_avatar.svg">
    </span>
    <span id="edit_profile">
        <div> Изменить логин </div>
        <div> Изменить пароль </div>
    </span>
</div>
<menu>
    <div class="theme light">
        <button class='red'></button>
        <button class='blue'></button>
        <button class='green'></button>
        <button class='purple'></button>
        <button class='sky'></button>
        <button class='black'></button>
    </div>
    <div class="theme dark">
        <button class='red'></button>
        <button class='blue'></button>
        <button class='green'></button>
        <button class='purple'></button>
        <button class='sky'></button>
        <button class='black'></button>
    </div>
</menu>