/*-------------Задание общих свойств----------*/
html, body {
	font-family: Comfortaa, sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-width: 750px;
}

a {text-decoration: none}
header a {color: white}
footer a {color: white}
.left a {float: left}
.right a *, .right a {float: right}
.center {justify-self: center}
/*--------------------------------------------*/

/*------------------Шапка---------------------*/
header {
	font-family: "Comfortaa Bold", sans-serif;
	display: inline-grid;
	grid-template-columns: 25% 1fr 1fr 1fr 25%;
	grid-column-gap: 4%;
	position: fixed;
	top: 0;
	min-width: 750px;
	width: 100%;
	height: 50px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	transition: 0.3s;
}

@media (max-width: 1000px) { /*Опции для маленького окна*/
	header {grid-template-columns: 28% 1fr 1fr 1fr 5%}
	header .right div {display: none}
}

/*-----------------Заголовок------------------*/
header .left {
	position: relative;
	transform: scale(0.95);
	font-size: 30px;
	color: white;
	padding: 4px 0 0 0;
	width: 220px;
	left: 4%;
	transition: 0.3s ease-out;
}

header .left::before {
	content: 'Time Manager';
	color: white;
	transform: scale(0.8);
	position: fixed;
	left: 0;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s ease-out;
}

header .left:hover {
	transform: scale(1);
	text-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
	transition: 0.2s ease;
}

header .left:hover::before{
	transform: scale(1);
	transition: 0.2s ease-out;
	opacity: 100%;
}
/*--------------------------------------------*/

/*------------------Разделы-------------------*/
header .center {
	color: white;
	width: 100%;
	height: 20px;
	margin: 9px 0 0 0;
	padding: 5px 0;
	border-radius: 20px;
	text-align: center;
	transition: 0.3s ease-out;
}

header .center:hover {
	transform: scale(1.1);
	background: rgba(255, 255, 255, 0.2);
	text-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
	transition: 0.2s ease;
}
/*--------------------------------------------*/

/*--------------Пользователь------------------*/
header .right {
	margin: 8px 9px 0 0;
	padding: 1px 0;
	height: 30px;
	width: max-content;
	border-radius: 20px;
	justify-self: end;
	transition: 0.3s ease-out;
}

header .right div{
	color: white;
	margin: 4px 10px 0 3vh;
	font-size: 18px;
	max-width: 75%;
	overflow: hidden;
	transition: 0.3s ease-out;
}

header .right #avatar {
	margin-top: -4px;
	margin-right: -2px;
	overflow: hidden;
	width: 38px;
	min-height: 38px;
	border-radius: 20px;
	transition: 0.3s ease-out;
}

#set_icon {
	z-index: -1;
	pointer-events: none;
	transform: scale(0.6);
	opacity: 0;
	height: 30px;
	width: 30px;
	position: absolute;
	top: 9px;
	right: 11px;
	transition: 0.3s ease-in;
}

@media (max-width: 1000px) {  /*Анимация для маленького окна*/
	header .right:hover #set_icon {
		z-index: 0;
		transform: scale(1);
		opacity: 70%;
		transition: 0.3s ease;
	}

	header .right:hover #avatar {
		filter: brightness(90%);
		transition: 0.3s ease-out;
	}
}

@media (min-width: 1001px) { /* Анимации для большого окна*/
	header .right:hover {
		transform: scale(1.05);
		background: rgba(255, 255, 255, 0.2);
		margin-right: 15px;
		text-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
		transition: 0.2s ease;
	}

	header .right:hover img {
		transform: scale(0.65);
		transition: 0.2s ease-out;
		text-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
	}
}
/*--------------------------------------------*/
/*--------------------------------------------*/

/*-------------------Футер--------------------*/
footer {
	display: inline-grid;
	grid-template-columns: 1fr 2fr 1fr;
	min-width: 750px;
	width: 100%;
	height: 40px;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

footer span {
	color: white;
	margin: auto 10%;
	transition: 0.3s ease-out;
}

footer span:hover {
	transform: scale(1.1);
	text-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
	transition: 0.2s ease;
}
/*--------------------------------------------*/

/*--------------Основной блок-----------------*/
main {
	padding-top: 50px;
	width: 100%;
	min-height: calc(100% - 90px);
}
