/*-------------Задание общих свойств----------*/
body {
	font-family: Comfortaa, sans-serif ;
	margin: 0;
	min-width: 750px;
	height: 100%;
	padding: 50px 0 0;
}

.left a {float: left}
.right a *, .right a {float: right}
.center {justify-self: center}
/*--------------------------------------------*/

/*------------------Шапка---------------------*/
/*-----------------Заголовок------------------*/
header {
	font-family: "Comfortaa Bold", sans-serif;
	display: inline-grid;
	grid-template-columns: repeat(5, 1fr);
	position: fixed;
	top: 0;
	min-width: 750px;
	width: 100%;
	height: 50px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

header .left {
	transform: scale(0.95);
	font-size: 30px;
	color: white;
	padding: 4px 0 0 20px;
	transition: 0.3s;
	width: 220px;
}

header .left::after {
	content: 'Time Manager';
	font-size: 30px;
	color: white;
	transition: 0.3s;
	width: 220px;
	position: fixed;
	left: 20px;
	opacity: 0%;
	transform: scale(0.8);
}

header .left:hover {
	transform: scale(1);
	transition: 0.1s;
}

header .left:hover::after{
	transform: scale(1);
	transition: 0.2s;
	opacity: 100%;
}

/*--------------------------------------------*/

/*--------------Пользователь------------------*/
header img {
	max-height: 40px;
	max-width: 40px;
	border-radius: 20px;
	overflow: hidden;
}
/*--------------------------------------------*/

/*-------------------Футер--------------------*/
footer {
	display: inline-grid;
	grid-template-columns: 1fr 2fr 1fr;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 40px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
/*--------------------------------------------*/
