<!DOCTYPE html>
<html lang="ru">

<head>
    <meta id='roots' data-theme="{{ theme[0] }}" data-color="{{ theme[1] }}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="time manager, time, авторы, разработчики" />
    <meta name="description" content="Контакты для связи с лучшей командой разработчиков" />
    <link href="time_manager/styles/fonts/fonts.css" rel="stylesheet" type="text/css" />
    <link href="time_manager/styles/base.css" rel="stylesheet" type="text/css"/>
    <link href="time_manager/styles/profile.css" rel="stylesheet" type="text/css"/>
    <link href="time_manager/styles/themes/{{ theme[0] }}.css" rel="stylesheet" type="text/css" id="theme_choice"/>
    <link href="time_manager/styles/colors/{{ theme[1] }}.css" rel="stylesheet" type="text/css" id="color_choice"/>
    <link href="time_manager/images/favicons/{{theme[1]}}.svg" rel="shortcut icon" type="image/x-icon" id="favicon_choice"/>
    <script type="text/javascript" src="time_manager/scriptes/jQuery.js"></script>
    <script type="text/javascript" src="time_manager/scriptes/script.js"></script>
    <title>About</title>
</head>


<body id="about">
    <header>
        <span class="left">
            <a href="/">
                Time Manager
            </a>
        </span>
        <span class="right">
            <a>
                <img id="avatar" src="time_manager/images/avatars/{{ log }}.jpg">
                <img id=set_icon src="time_manager/images/set_icon.svg">
                <div>{{ log }}</div>
            </a>
        </span>
    </header>

    <aside>{% include "login/profile.html" %}</aside>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <span class="left" title="Союз Советских Социалистических Рептилоидов">Проект СССР</span>
        <span class="center" title="Ну сказал же, что не защищены, ну чего ты ещё добиваешься?!">Все права защищены(нет) &copy; 2020 г.</span>
        <span class="right" title="Коронавирус пытался нас заразить, но мы заразили его трояном"><a href="{{ url_for('page_about') }}">Разработчики</a></span>
    </footer>
</body>
</html>