<div id="developers">
    <div id="dev_head"><p>Лучшая команда разработчиков</p></div>

    <div class="card_head"><p>T1MON</p></div>
    <div class="card_head"><p>ATTILENE</p></div>
    <div class="card_head" id="Rasim"><p>PRAGMATIC<br>FRIEND</p></div>
    <div class="card_head"><p>MACMILLAN</p></div>
    <div class="card_head"><p>TRIIKSTER</p></div>

    <div class="card">
        <img src="time_manager/images/developers/T1MON.jpg"><hr>
        <p>Менеджер проекта</p>
        <p>Front-end разработчик</p>
        <p>Web-программист</p>
    </div>
    <div class="card">
        <img src="time_manager/images/developers/ATTILENE.jpg"><hr>
        <p>Back-end разработчик</p>
        <p>Взаимодействие с базой данных</p>
        <p>Front-end разработчик</p>
    </div>
    <div class="card">
        <img src="time_manager/images/developers/PRAGMATICFRIEND.jpg"><hr>
        <p>Web-дизайнер</p>
        <p>Front-end разработчик</p>
        <p>Interface-дизайнер</p>
    </div>
    <div class="card">
        <img src="time_manager/images/developers/MACMILLAN.jpg"><hr>
        <p>Front-end разработчик</p>
        <p>Дизайнер</p>
        <p>Тестировщик</p>
    </div>
    <div class="card">
        <img src="time_manager/images/developers/TRIIKSTERKA.jpg"><hr>
        <p>Модератор</p>
        <p>Interface-</br>дизайнер</p>
        <p>Тестировщик</p>
    </div>
</div>