<div id="developers">
    <div class="name">
        <h2>Лучшая команда разработчиков</h2>
        <hr class="main_line">
    </div>

    <div id="dev_list">
        <h3>T1MON</h3>
        <h3>ATTILENE</h3>
        <h3>PRAGMATICFRIEND</h3>
        <h3>MACMILLAN</h3>
        <h3>TRIIKSTERKA</h3>
        <img src="time_manager/images/developers/T1MON.jpg">
        <img src="time_manager/images/developers/ATTILENE.jpg">
        <img src="time_manager/images/developers/PRAGMATICFRIEND.jpg">
        <img src="time_manager/images/developers/MACMILLAN.jpg">
        <img src="time_manager/images/developers/TRIIKSTERKA.jpg">
        <span><hr>
            <p>Менеджер проекта</p>
            <p>Front-end разработчик</p>
            <p>Web-программист</p>
        </span>
        <span><hr>
            <p>Back-end разработчик</p>
            <p>Взаимодействие с базой данных</p>
            <p>Front-end разработчик</p>
        </span>
        <span><hr>
            <p>Web-дизайнер</p>
            <p>Front-end разработчик</p>
            <p>Interface-дизайнер</p>
        </span>
        <span><hr>
            <p>Front-end разработчик</p>
            <p>Дизайнер</p>
            <p>Тестировщик</p>
        </span>
        <span><hr>
            <p>Модератор</p>
            <p>Interface-дизайнер</p>
            <p>Тестировщик</p>
        </span>
    </div>
</div>
