<div class="hat login">ВХОД</div>
<div class="hat register">РЕГИСТРАЦИЯ</div>

<menu>
    <form id="user">
        <label for="form_login"></label><input id="form_login" placeholder="Логин / Почта" type="text" autocomplete="on"><button id="erase_login" type="button"></button>

        <label for="form_email"></label><input class="hidden" id="form_email" placeholder="Почта" type="email"><button id="erase_email" type="button"></button>

        <label for="form_password"></label><input id="form_password" placeholder="Пароль" type="password" disabled><button id="show_pass" type="button"></button>

        <label for="form_repass"></label><input class="hidden" id="form_repass" placeholder="Пароль ещё раз" type="password" disabled><button id="show_repass" type="button"></button>
    </form>

    <input id="checkbox_remember_me" type="checkbox"><label id="remember_me" for="checkbox_remember_me">Запомнить меня</label>
</menu>
