<div class="body">
    {% for hour, minute, task in table_day %}
        <form class="item day">
            <span class="time">
            <input class="hour" type="text" value="{{ hour }}" max="24" min="0"
                   onfocus="$(this).parent().addClass('input');
                       old_day_data = get_day_data($(this).parent())"
                   onblur="$(this).parent().removeClass('input');
                       if ($(this).val() === '') $(this).val(0);
                       blur_input_day($(this).closest('.item'))"
                   onkeydown="change_val(event)"
            >
            <span>:</span>
            <input class="minute" type="text" value="{{ minute }}" max="60" min="0"
                   onfocus="$(this).parent().addClass('input');
                       old_day_data = get_day_data($(this).parent())"
                   onblur="$(this).parent().removeClass('input');
                       if ($(this).val() === '') $(this).val(0);
                       blur_input_day($(this).closest('.item'))"
                   onkeydown="change_val(event)"
            >
            </span>
            <textarea class="task" placeholder="Задача"
                      onfocus="old_day_data = get_day_data($(this).parent())"
                      onblur="blur_input_day($(this).closest('.item'))"
                      onkeydown="change_val(event)"
            >{{ task }}</textarea>
            <button type="button" class="del_day" onmousedown="del_day_task($(this).parent())">
                <svg id="email_btn_del_task">
                    <use xlink:href="time_manager/images/sprites.svg#sprite_btn_del_task"></use>
                </svg>
            </button>
        </form>
    {% endfor %}
    <button id="add_day_task" onmousedown="click_add_day($(this))">
        <svg id="btn_add_day">
            <use xlink:href="time_manager/images/sprites.svg#sprite_btn_add"></use>
        </svg>
    </button>
    <br>
    <a class="alert">Введите данные</a>
</div>
