<div class="body day">
    <div class="wrap">
        <form>
            <span class="time">
                <span>
                <input class="hours" type="text" value="12">
                :
                <input class="minutes" type="text" value="12">
                </span>
            </span>
            <textarea oninput="console.log($(this).val())" class="task" placeholder="Задача">fffffffffffff</textarea>
        </form>
        <button type="button" class="del_day"></button>
    </div>
</div>