<div id="help_body">
    <p id="subtitle">Добро пожаловать</p>
    <div class= "man_card" id="m_guest">
        <div class="cssload-container">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class= "man_card" id=m_reg"></div>
    <div href="vk.com" class= "man_card" id="m_log"></div>
    <div class= "man_card" id="m_act"></div>
    <p id="try_guest">Попробуйте гостевую учетную запись</p>
    <button id="btn_guest_log" type="button"
            onmousedown="if (!user_logined) {guest_auth()}"
    >Начать</button>
    <p id="thank">Спасибо, что вы с нами!</p>
</div>
