<div id="help_body">
    <p id="subtitle">Добро пожаловать</p>
    <div class= "man_card" id="m_reg">
        <div class="clock_load"></div>
        <img src="time_manager/images/manual/reg.gif"
             onload="$(this).parent().addClass('ready')"
        >
    </div>
    <div class= "man_card" id=m_act">
        <div class="clock_load"></div>
        <img src="time_manager/images/manual/act.gif">
    </div>
    <div class= "man_card" id="m_add">
        <div class="clock_load"></div>
        <img src="time_manager/images/manual/add.gif">
    </div>
    <div class= "man_card" id="m_theme">
        <div class="clock_load"></div>
        <img src="time_manager/images/manual/theme.gif">
    </div>
    <p id="try_guest">Попробуйте гостевую учетную запись</p>
    <button id="btn_guest_log" type="button"
            onmousedown="if (!user_logined) {guest_auth()}"
    >Начать</button>
    <p id="thank">Спасибо, что вы с нами!</p>
</div>
