<div id="hat">
    <span class="avatar">
        <img src="time_manager/images/avatars/default.jpg">
        <svg id="change_avatar">
            <use xlink:href="time_manager/images/sprites.svg#sprite_change_avatar"></use>
        </svg>
    </span>
    <span id="edit_profile">
        <div> Изменить логин </div>
        <div> Изменить пароль </div>
    </span>
</div>
<menu>
    <div class="theme light">
        <button class='light red'></button>
        <button class='light blue'></button>
        <button class='light green'></button>
        <button class='light purple'></button>
        <button class='light sky'></button>
        <button class='light black'></button>
    </div>
    <div class="theme dark">
        <button class='dark red'></button>
        <button class='dark blue'></button>
        <button class='dark green'></button>
        <button class='dark purple'></button>
        <button class='dark sky'></button>
        <button class='dark white'></button>
    </div>
</menu>