<div id="hat">
    <form onsubmit="$(this).children('input').blur(); return false">
        <label for="set_login"></label>
        <input id="set_login" type="text" autocomplete="off"
               value="{{ login }}"
               oninput="input_set_login($(this))"
               onblur="$('label[for=set_login]').text('').removeClass('achive warning')"
        >
    </form>
    <span id="edit">
        <div id="btn_change_email" onclick="toggle_set_menu($('#btn_change_email')[0], $('#menu_edit_email'))">Почта</div>
        <div id="btn_change_pass" onclick="toggle_set_menu($('#btn_change_pass')[0], $('#menu_edit_psw'))">Пароль</div>
        <svg class="hat_float">
            <use xlink:href="time_manager/images/sprites.svg#sprite_float_edit"></use>
        </svg>
    </span>
    <span id="avatar"
        {% if not avatar %}
            class="none"
        {% endif %}
    >
        <div id="avatar_inside" {{ avatar|safe }}></div>
        <svg id="change_avatar" onclick="
            if (user_data.login === '') {alert('Смена аватара недоступна для гостевой записи')}
            else {$('#get_file').click()}
        ">
            <use xlink:href="time_manager/images/sprites.svg#sprite_btn_change"></use>
        </svg>
        <input id="get_file" type="file" accept="image/*" onchange="onchange_get_file($(this)[0].files[0])">
        <hr>
        <svg id="remove_avatar" onclick="click_remove_avatar()">
            <use xlink:href="time_manager/images/sprites.svg#sprite_btn_remove" onclick="click_remove_avatar()"></use>
        </svg>
    </span>
    <span id="exit">
        <div id="btn_exit" onclick="
            if (user_data.login !== '') { receive('/logout') }
            logout();
        ">
            Выйти
        </div>
        <div id="btn_delete_profile" onclick="toggle_set_menu($('#btn_delete_profile')[0], $('#menu_confirm_delete'))">Удалить</div>
        <svg class="hat_float">
            <use xlink:href="time_manager/images/sprites.svg#sprite_float_exit"></use>
        </svg>
    </span>
</div>

<menu id="menu_edit_email">
    <form onsubmit="submit_warn($(this)); return false">
        <label for="set_email" class="warning">Поле не должно быть пустым</label>
            <input id="set_email" placeholder="Новая почта" type="email"
            oninput="act_field($(this), input_set_email)"
            >
            <button id="erase_set_email" type="button" onclick="click_erase($(this).prev()); return false">
                <svg id="email_btn_erase">
                    <use xlink:href="time_manager/images/sprites.svg#sprite_btn_erase"></use>
                </svg>
            </button>
    </form>
</menu>

<menu id="menu_edit_psw">
    <form
            onsubmit="submit_warn($(this)); return false"
    >
        <label for="set_psw" class="warning">Поле не должно быть пустым</label>
        <input id="set_psw" placeholder="Новый пароль" type="password" oninput="act_field($(this), input_set_psw)">
        <button id="show_set_psw" type="button" onclick="click_show_psw($(this).prev())">
            <svg>
                <use xlink:href="time_manager/images/sprites.svg#sprite_btn_show"></use>
            </svg>
        </button>
    </form>
</menu>

<menu id="menu_confirm_delete">
    <p>Подтвердите удаление профиля</p  >
    <button class="yes" type="button" onclick="
        if (user_data.login !== '') { receive('/delete_user') }
        logout();
    ">
        Удалить
    </button>
    <button class="no" type="button" onclick="toggle_set_menu($(this)[0], $('#menu_confirm_delete'))">
        Отмена
    </button>
</menu>

<menu id="settings">
    <div class="theme light">
        <button data-theme="light" data-color="red"></button>
        <button data-theme="light" data-color="blue" class="choice"></button>
        <button data-theme="light" data-color="green"></button>
        <button data-theme="light" data-color="purple"></button>
        <button data-theme="light" data-color="sky"></button>
        <button data-theme="light" data-color="black"></button>
    </div>
    <div class="theme dark">
        <button data-theme="dark" data-color="red"></button>
        <button data-theme="dark" data-color="blue"></button>
        <button data-theme="dark" data-color="green"></button>
        <button data-theme="dark" data-color="purple"></button>
        <button data-theme="dark" data-color="sky"></button>
        <button data-theme="dark" data-color="white"></button>
    </div>
</menu>