#page_about {overflow: auto}
#developers * {padding: 0; text-align: center}

#developers {
    margin: 4vh auto;
    height: max-content;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 60px 60px auto;
    column-gap: 6%;
    row-gap: 4vh;
}

#dev_head {
    font-size: 36px;
    text-align: center;
    grid-column: 1/6;
    width: max-content;
    height: 60px;
    justify-self: center;
    border-radius: 30px;
}

#dev_head:hover {transform: scale(1.05)}

#dev_head p {
    position: relative;
    margin: 0;
    top: 5px;
}

.card_head {
    font-size: 25px;
    line-height: 12px;
    text-align: center;
    padding: 0;
    height: 60px;
    border-radius: 30px;
}

#developers .card_head:hover {transform: scale(1.1)}
#developers .card {
    padding: 0 10px 10px;
    box-sizing: border-box;
}

#developers .card p {margin: 2vh auto}
#developers .card p:hover {transform: scale(1.1)}

#Rasim {line-height: 30px}
#Rasim p {margin: 0}

#developers .card p, #developers .card {text-align: center; border-radius: 30px}
#developers p, #developers h2, #developers h3 {transition: 0.3s ease-out}

#developers img {
    margin: 14% auto 10px;
    width: 80%;
    border-radius: 50%;
    justify-self: center;
    pointer-events: none;
}

#developers .card:hover img{
    border-radius: 25%;
    transform: scale(1.1);
}

#developers .card hr {
    border: none;
    border-radius: 2px;
    width: 60%;
    height: 0
}

#developers .card svg {
    pointer-events: visible;
    cursor: pointer;
	fill: white;
	width: 28px;
	height: 28px;
	margin: 8px;
	margin-bottom: 4px;
}

#developers .card svg:hover {transform: scale(1.2)}

@media (max-width: 1650px) {  #developers {width: 80%;}  }
@media (max-width: 1450px) {  #developers {width: 90%;}  }
@media (max-width: 1300px) {  #developers {column-gap: 4%}  }
@media (max-width: 1150px) {  #developers {width: 100%}  }
@media (max-width: 1050px) {  #developers {column-gap: 2%}  }

@media  {
    
}

/*-----------------Анимации--------------------*/
/*-----------------Возврат---------------------*/
#developers, #developers * {transition: 0.2s ease-out}
/*--------------------------------------------*/
/*-----------------При наведени---------------*/
#developers *:hover {transition: 0.1s ease}
/*--------------------------------------------*/
/*-----------------При нажатии----------------*/
#developers *:active {transform: scale(1); transition: 0.05s ease-out}
#developers .card:hover p:active {transform: scale(1); transition: 0.05s ease-out}
#developers .card:hover img:active, #developers .card:hover svg:active {transform: scale(1); transition: 0.05s ease-out}
/*--------------------------------------------*/
/*--------------------------------------------*/