#developers * {padding: 0}
#developers #dev_head, #developers .card_head {font-family: "Comfortaa Bold", sans-serif}

/*#developers {*/
/*    margin: 10vh auto;*/
/*    height: max-content;*/
/*    display: grid;*/
/*    grid-template-columns: repeat(5, 1fr);*/
/*    grid-gap: 5%;*/
/*    grid-template-rows: 15% 15% 70%;*/
/*}*/

#developers {
    margin: 10vh auto;
    height: max-content;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 15% 15% 70%;
    grid-gap: 5%;
    -ms-grid-gap: 5%;
    -ms-gap: 5%;
}

#dev_head {
    font-size: 36px;
    text-align: center;
    grid-column: 1/6;
    width: max-content;
    padding: 0 10%;
    height: 60px;
    justify-self: center;
    border-radius: 30px;
}

#dev_head:hover {transform: scale(1.05)}

#dev_head p {
    position: relative;
    margin: 0;
    top: 5px;
}

.card_head {
    font-size: 25px;
    line-height: 12px;
    text-align: center;
    padding: 0;
    height: 60px;
    border-radius: 30px;
}

.card_head:hover {transform: scale(1.1)}
#developers .card {padding: 0 10px 50px 10px;}
#developers .card p {margin: 10px}
#developers .card p:hover {transform: scale(1.1)}

@media (min-width: 1500px) {#developers .card p {margin: 20px; transition: 0.2s ease-in-out}  }

#Rasim {line-height: 30px}
#Rasim p {margin: 0}
@media (max-width: 1200px) {#developers .card_head p {transform: scale(0.8); transition: 0.2s ease-in-out}  }

#developers .card p, #developers .card {text-align: center; border-radius: 30px}
#developers p, #developers h2, #developers h3 {transition: 0.3s ease-out}

#developers img {
    margin: 13% auto 10px;
    width: 80%;
    border-radius: 50%;
    justify-self: center;
    pointer-events: none;
}

#developers .card:hover img{
    border-radius: 25%;
    transform: scale(1.1);
}

#developers .card hr {
    border-radius: 2px;
    width: 50%;
    height: 0
}

@media (min-width: 1500px) {
    #developers {width: 75%}
}
@media (min-width: 1200px) and (max-width: 1500px) {
    #developers {width: 90%; transition: 0.2s ease-in-out}
}
@media (max-width: 1200px) {
    #developers {width: 98%; column-gap: 1%; transition: 0.2s ease-in-out}
    #developers .card_head {width: 95%; justify-self: center; transition: 0.2s ease-in-out}
    #developers .card {width: 80%; justify-self: center; padding: 0 10px 20px; transition: 0.2s ease-in-out}
}
@media (max-height: 850px) {  #developers {margin: 2% auto; transition: 0.2s ease-in-out} }

/*-----------------Анимации--------------------*/
/*-----------------Возврат---------------------*/
#developers * {transition: 0.2s ease-out}
/*--------------------------------------------*/
/*-----------------При наведени---------------*/
#developers *:hover {transition: 0.1s ease}
/*--------------------------------------------*/
/*-----------------При нажатии----------------*/
#developers *:active {transform: scale(1); transition: 0.05s ease-out}
#developers .card:hover p:active {transform: scale(1); transition: 0.05s ease-out}
#developers .card:hover img:active {transform: scale(1); transition: 0.05s ease-out}
/*--------------------------------------------*/
/*--------------------------------------------*/