/*-----------------Верх--------------------*/
#authorisation span{cursor: pointer}

#authorisation span{
	text-align: center;
	margin: 10px 20px 10px 2%;
	padding: 4px calc(10px + 4%);
	height: 20px;
	border-radius: 20px;
	float: right;
}

#authorisation span:hover {transform: scale(1.1); background: rgba(255, 255, 255, 0.2);}
/*--------------------------------------------*/

/*------------------Меню----------------------*/
#authorisation_menu {width: 300px}

#authorisation_menu div.hat {
	/*font-size: ;*/
}

#authorisation_menu menu {width: 292px}



/*--------------------------------------------*/

/*-----------------Анимации--------------------*/
/*-----------------Возврат---------------------*/
#authorisation span {transition:  0.2s ease-out}
/*--------------------------------------------*/
/*-----------------При наведени---------------*/
#authorisation span:hover {transition: 0.1s ease;}
/*--------------------------------------------*/
/*-----------------При нажатии----------------*/
#authorisation span:active {transform: scale(0.9); transition: 0.1s ease}
/*--------------------------------------------*/
/*--------------------------------------------*/

/*---------------Открытие---------------------*/
header .center, header .right {
	display: block;
	z-index: 21;
	position: relative;
	bottom: 0;
	opacity: 1;
	transition: 0.2s ease-out;
}

header.logout .center, header.logout .right {
	display: none;
	bottom: 10px;
	opacity: 0;
	transition: 0.1s ease-out;
}

#authorisation {
	display: none;
	z-index: 30;
	position: absolute;
	width: 50%; height: 50px;
	right: 0; top: 20px;
	opacity: 0;
	transition: 0.1s ease-out;
}

header.logout #authorisation {
	display: block;
	top: 0;
	opacity: 1;
	transition: 0.2s ease-out;
}
/*--------------------------------------------*/
