#red header, #red footer, #red aside {background: #ff6464; transition: 0.5s}
#red aside menu div.theme {border: 20px solid #ff6464}
#red aside menu div.theme:hover {border: 3px solid #ff6464}

#blue header, #blue footer, #blue aside {background: #6464ff; transition: 0.5s}
#blue aside menu div.theme {border: 20px solid #6464ff}
#blue aside menu div.theme:hover {border: 3px solid #6464ff}

#green header, #green footer, #green aside {background: #44aa24; transition: 0.5s}
#green aside menu div.theme {border: 20px solid #46aa46}
#green aside menu div.theme:hover {border: 3px solid #46aa46}

#purple header, #purple footer, #purple aside {background: #b450b4; transition: 0.5s}
#purple aside menu div.theme {border: 20px solid #b450b4}
#purple aside menu div.theme:hover {border: 3px solid #b450b4}

#sky header, #sky footer, #sky aside {background: #55c0bb; transition: 0.5s}
#sky aside menu div.theme {border: 20px solid #55c0bb}
#sky aside menu div.theme:hover {border: 3px solid #55c0bb}

#black header, #black footer, #black aside {background: #000; transition: 0.5s}
#black aside menu div.theme {border: 20px solid #000}
#black aside menu div.theme:hover {border: 3px solid #000}