#help_body {
    background: url(../images/bg.jpg) no-repeat center;
    padding: 90px 0 0;
    width: calc(100% + 80px);
    height: calc(100% + 90px);
    position: absolute;
    top: -50px;
    left: -40px;
}

#subtitle {
    font-size: 2em;
    margin: 5vh 0 3vh;
}

.man_card {
    transform: scale(0.9);
    display: inline-block;
    margin: 0 1%;
    width: 180px;
    height: 180px;
    border-radius: 115px;
    background: red;
}

.man_card:hover {transform: scale(1)}

#try_guest {
    font-size: 1.2em;
    margin: 3vh auto;
}

#btn_guest_log {

}

@media (min-height: 600px) {
    #subtitle {margin: 8vh 0}
    #try_guest {margin: 13vh auto 5vh}
}

@media (min-height: 550px) and (min-width: 1300px) {
    .man_card {width: 210px; height: 210px}
}

#page_help * {transition: 0.2s ease-out}
