aside {
    z-index: 1000;
    display: none;
    opacity: 0;
    position: fixed;
    width: 250px;
    height: min-content;
    top: 50px;
    right: 10px;
    border-radius: 20px;
}

/*--------------Шапка------------------*/
aside #hat {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 80px auto;
}

/*---------------Левая часть--------------*/
aside #hat .avatar {
    overflow: hidden;
	width: 60px;
	height: 60px;
    border-radius: 30px;
    margin: 10px;
}

aside #hat img:first-child {
    width: 60px;
	min-height: 60px;
    transition: 0.3s ease-out;
}

aside #hat .avatar #float {
    z-index: -1;
    transform: scale(0.8);
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: 0.3s ease-out;
}

aside #hat .avatar:hover img:first-child {
    filter: blur(1px) brightness(0.9);
    transition: 0.3s ease;
}

aside #hat .avatar:hover #float {
    z-index: 1;
    transform: scale(1);
    opacity: 70%;
    transition: 0.2s ease;
}
/*----------------------------------------------*/

/*--------------Правая часть------------------*/
aside #hat #edit_profile {padding-top: 5px}

aside #hat #edit_profile div {
    margin: 8px 10px 8px 2px;
    padding: 2px 10px;
    font-size: 15px;
    width: max-content;
    border-radius: 12px;
    transition: 0.3s ease-out;
}

aside #hat #edit_profile div:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.2);
    transition: 0.2s ease;
}
/*----------------------------------------------*/

/*----------------------------------------------*/

/*---------------Менюшка----------------------*/
aside menu {
    position: relative;
    background: white;
    margin: 4px;
    padding: 5px 0;
    width: 242px;
    min-height: 100px;
    border-radius: 16px;
}

aside menu div.theme {
    margin: 10px auto;
    padding: 0;
    width: 217px;
    height: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    transition: 0.15s ease-in;
}

aside menu div.light button {top: 23px}
aside menu div.dark button {top: 73px}
/*--------------------Подписи тем-----------------*/
aside menu div.theme::before {
    position: absolute;
    pointer-events: none;
    transition: 0.2s ease-in;
}

aside menu div.light::before {
    top: 25px; left: 57px;
    content: 'Светлая тема';
}

aside menu div.dark::before {
    top: 75px; left: 65px;
    content: 'Тёмная тема';
}

aside menu div.light:hover::before, aside menu div.dark:hover::before {
    opacity: 0;
    transition: 0.1s ease-in;
}
/*----------------------------------------------*/

/*-------------------Кнопочки-------------------*/
aside menu button {
    transform: scale(0.6);
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    background: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

aside menu div.theme:hover button {transform: scale(1); opacity:1; transition: 0.2s ease-out}
aside menu button:hover {border-width: 3px; transition: 0.1s ease-out}

aside button.red {border: 12px solid #ff6464; left: 22px;}
aside button.blue {border: 12px solid #6464ff; left: 56px;}
aside button.green {border: 12px solid #46aa46; left: 90px;}
aside button.purple {border: 12px solid #b450b4; left: 127px;}
aside button.sky {border: 12px solid #55c0bb; left: 161px;}
aside button.black {border: 12px solid #000; left: 195px;}
aside button.white {border: 12px solid #fff; left: 195px;}
/*----------------------------------------------*/

/*----------------------------------------------*/

aside menu div.theme button:active {transform: scale(0.6); transition: 0.2s ease} /*Эффект нажатий*/