/*Курсор*/
/*aside menu button {cursor: pointer}*/

aside {
    z-index: 10;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    opacity: 0;
    position: fixed;
    width: 300px;
    height: max-content;
    top: 50px;
    right: 10px;
    border-radius: 20px;
}

/*---------------Верхняя часть--------------*/
aside #hat #setka{
    width: 100%;
    display: inline-grid;
    grid-template-columns: 30% 35% 32%;
    margin: 10px;
}

#profile_menu #hat #exit {padding: 10px}
#profile_menu #hat span div {
    text-align: center;
}

/*----------------------------------------------*/

/*---------------Аватар-----------------*/
aside #hat #set_avatar {
    background: url("../images/avatars/default.jpg");
	background-size: contain;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#profile_menu hr{
    border-radius: 2px;
    background-color: white;
    width: 50%;
    height: 2px;
}

/*----------------------------------------------*/

/*--------------Правая часть------------------*/
aside #hat #edit_profile {padding-top: 5px}

aside #hat #edit_profile div {
    margin: 8px 10px 8px 2px;
    padding: 2px 10px;
    font-size: 0.94em;
    width: max-content;
    border-radius: 12px;
}

aside #hat #edit_profile div:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.2);
}

/*----------------------------------------------*/

/*--------------Кнопки-------------------------*/

#profile_menu svg {
	fill: white;
	stroke: white;
	width: 35px;
	height: 35px;
	position: relative;
	top: 2px;
	left: calc(50% - 17px);
    cursor: pointer;
}

#profile_menu #avatar svg {
	fill: white;
	stroke: white;
	width: 35px;
	height: 35px;
	position: relative;
	top: 2px;
	left: -1px;
    cursor: pointer;
}

#profile_menu input {
    font-family: "Comfortaa Bold", sans-serif;
	font-size: 1em;
	color: white;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	padding: 0 10px;
	box-sizing: border-box;
	margin: 0 5%;
	width: 90%;
	height: 36px;
	line-height: 36px;
	border-radius: 18px;
	overflow: hidden;
}

#profile_menu #set_login{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5em;
}

/*----------------------------------------------*/

/*---------------Менюшка----------------------*/
aside menu {
    position: relative;
    margin: 4px;
    width: 292px;
    min-height: 100px;
    padding: 5px 0;
    border-radius: 16px;
}

aside menu div.theme {
    margin: 10px auto;
    padding: 0;
    width: 217px;
    height: 40px;
    border-radius: 20px;
    box-sizing: border-box;
}

aside menu div.light button {top: 23px}
aside menu div.dark button {top: 73px}
/*--------------------Подписи тем-----------------*/
aside menu div.theme::before {position: absolute; pointer-events: none}
aside menu div.theme:hover::before {opacity: 0}

aside menu div.light::before {
    content: 'Светлая тема';
    top: 25px; left: 57px}

aside menu div.dark::before {
    content: 'Тёмная тема';
    top: 75px; left: 65px}
/*----------------------------------------------*/

/*-------------------Кнопочки-------------------*/
aside menu button {
    transform: scale(0.6);
    opacity: 0;
    padding: 0;
    position: absolute;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    background: none;
    border-radius: 15px;
}

aside menu button::before { /*Оптимизация клик зоны*/
    display: none;
    content: '';
    z-index: 11;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
}

aside menu div.theme:hover button {transform: scale(1); opacity:1}

aside menu button.red {border: 12px solid #ff6464; left: 22px;}
aside menu button.blue {border: 12px solid #6464ff; left: 56px;}
aside menu button.green {border: 12px solid #46aa46; left: 90px;}
aside menu button.purple {border: 12px solid #b450b4; left: 127px;}
aside menu button.sky {border: 12px solid #55c0bb; left: 161px;}
aside menu button.black {border: 12px solid #000; left: 195px;}
aside menu button.white {border: 12px solid #fff; left: 195px;}

aside menu button:hover {border-width: 3px}

/*Выбранная тема*/
aside menu div.theme button.choice {border-width: 3px}
aside menu div.theme button::after {
    transform: scale(0.1);
    opacity: 0;
    z-index: 12;
    content: '';
    width: 0; height: 0;
    position: absolute;
     top: 3px; left: 3px;
    border: inherit;
    border-width: 6px;
    border-radius: 6px;
    transition: none;
}

aside menu div.theme button.choice::after {opacity: 1; transform: scale(1)}
/*----------------------------------------------*/

/*----------------------------------------------*/

/*-----------------Анимации--------------------*/
/*-----------------Возврат---------------------*/
aside #hat img:first-child, aside #hat .avatar #change_avatar, aside #hat .avatar:hover img:first-child,
aside #hat #edit_profile div {transition: 0.3s ease-out}
aside menu div.theme::before {transition: 0.2s ease-in}
aside menu button, aside menu div.theme button.choice::after {transition: 0.2s ease-out}
/*--------------------------------------------*/
/*-----------------При наведени---------------*/
aside #hat .avatar:hover #change_avatar, aside #hat #edit_profile div:hover{transition: 0.2s ease}
aside menu div.theme:hover::before {transition: 0.1s ease-in}
aside menu div.theme:hover button {transition: 0.2s ease-out}
aside menu div.theme:hover button:hover {transition: 0.1s ease-out}
/*--------------------------------------------*/
/*-----------------При нажатии----------------*/
aside menu div.theme button:active {transform: scale(0.7); transition: 0.1s ease}
aside menu button:active::before {display: block}
aside menu button.choice:active::before {display: none}
/*--------------------------------------------*/
/*--------------------------------------------*/

/*---------------Открытие---------------------*/
aside.opened {
    z-index: 10;
	display: block;
	opacity: 1;
	top: 60px;
	transition: 0.15s ease-in;
}

aside.closed {
	z-index: 9;
	opacity: 0;
	top: 50px;
	transition: 0.1s ease-out;
}
/*--------------------------------------------*/
