div.body * {
    font-family: "Comfortaa Bold", "Comic Sans MS", sans-serif;
    font-size: 1.1em;
    text-align: center;
}

div.body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2vh 5% 0;
    width: calc(30% + 500px);
    min-width: 750px;
    height: 100%;
    overflow: auto;
}

.item {
    float: left;
    display: inline-grid;
    margin: 2vh 0;
    width: 100%;
}

.item.day {grid-template-columns: 120px auto 70px}
.item.day {grid-template-columns: 120px auto 70px}

.time {
    padding: 0 10px;
    margin: 0 10px;
    display: inline-grid;
    grid-template-columns: 35px 10px 35px;
    height: 40px;
    border-radius: 20px;
}

.time span {
    font-size: 1.5em;
    position: relative;
    bottom: 2px;
    margin: 0;
    padding: 0;
    line-height: 40px;
}

.time input, .time select {
    font-size: 1.5em;
    line-height: 40px;
    padding: 0;
    background: none;
    border: none;
}

.item textarea {
    resize: vertical;
    padding: 0;
    height: 40px;
    line-height: 40px;
    min-height: 40px;
    border: none;
    border-radius: 20px;
}

.item .bout {height: 40px}

.item .bout button {
    height: 40px;
    width: 40px;
    padding: 0;
    border: none;
    border-radius: 20px;
}

.bout svg {
    margin: 5px;
    width: 30px;
    height: 30px;
}

.bout button:hover {transform: scale(1.2)}

#add_day_task {
    text-align: center;
    margin: 2vh auto;
    padding: 5px;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 20px;
}

#add_day_task svg {
    margin: auto;
    width: 30px;
    height: 30px;
}

#add_day_task:hover {transform: scale(1.1)}

.time *, .time, .bout button, #add_day_task {transition: 0.2s ease-in-out}
.time:hover, .bout button:hover, #add_day_task:hover {transition: 0.1s ease-in-out}
.bout button:active, #add_day_task:active {transform: scale(1)}

