div.body * {
    font-family: "Comfortaa Bold", "Comic Sans MS", sans-serif;
    font-size: 1.1em;
    text-align: center;
}

div.body {
    margin: 20px auto 0;
    width: 70%;
    min-width: 700px;
}

.item {
    display: inline-grid;
    grid-template-columns: 115px auto 70px;
    width: 100%;
}

.time {
    color: blue;
    margin: 0 10px;
    display: inline-grid;
    grid-template-columns: 40px 15px 40px;
    height: 40px;
    line-height: 40px;
}



.time input {
    color: blue;
    font-size: 1.2em;
    padding: 0;
    background: none;
    border: none;
    line-height: 40px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

.time input:hover, .time input:focus {
    color: white;
    background-color: #55c0bb;
}

.item textarea {
    resize: vertical;
    padding: 0;
    height: 40px;
    line-height: 40px;
    min-height: 40px;
    background-color: blue;
    border-radius: 20px;
}

.item textarea::placeholder {}





.item .bout button {
    height: 40px;
    width: 40px;
}