div.body * {
    font-size: 1.1em;
    text-align: center;
}

div.body {
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    padding: 3vh 2% 0;
    width: calc(20% + 765px);
    min-width: 958px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

@media (min-width: 1400px) {#page_lists div.body {width: 1400px}}

.item {
    margin: 3vh 0;
    left: 0;
    width: 100%;
    position: relative;
}

.item.del {
    left: 40px;
    opacity: 0;
    transition-timing-function: ease-in !important;
}

.time {
    box-sizing: border-box;
    padding: 0 5px;
    margin: 0;
    width: 110px;
    float: left;
    height: 40px;
    border-radius: 20px;
}

.time span {
    width: 10px;
    font-size: 1.5em;
    position: relative;
    line-height: 40px;
}

.day .time span {bottom: 3px}

.time input {
    box-sizing: border-box;
    font-size: 1.5em;
    line-height: 40px;
    width: 35px;
    background: none;
    border: none;
}

.item textarea {
    resize: vertical;
    padding: 0;
    width: calc(100% - 260px);
    height: 40px;
    line-height: 40px;
    min-height: 40px;
    border: none;
    border-radius: 20px;
}

.item button {
    float: right;
    height: 40px;
    width: 40px;
    margin: 0 50px 0 20px;
    padding: 0;
    border: none;
    border-radius: 20px;
}

.item button svg, .list_task button svg, .back button svg {
    margin: 5px;
    width: 30px;
    height: 30px;
}

.item button:hover {transform: scale(1.2)}

#add_day_task, #add_month_task {
    text-align: center;
    margin: 10px auto;
    padding: 5px;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 20px;
}

#add_day_task svg, #add_month_task svg {
    margin: auto;
    width: 30px;
    height: 30px;
}

#add_day_task:hover, #add_month_task:hover {transform: scale(1.1)}

.alert {
    margin: auto;
    overflow: visible;
    height: 0;
    position: relative;
    bottom: 42px;
    opacity: 0;
    pointer-events: none;
}

body .item.new~.alert {opacity: 1; pointer-events: visible}
body .item.new~button {opacity: 0; pointer-events: none}

#page_lists button {width: 40px; height: 40px}

.back {
    display: inline-block;
    vertical-align: top;
    margin: 4vh 30px;
    position: relative;
    width: 400px;
    height: max-content;
    overflow: visible;
    border-radius: 20px;
    background: skyblue;
}

.back .title {
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: blue;
}

.back button.del_list {
    padding: 0;
    position: absolute;
    top: 0;
    right: -50px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: red;
}

.back button.del_list svg {
    width: 26px;
    height: 26px;
    margin: 7px;
}

.list_task {
    margin: 10px 0;
    width: 450px;
    height: max-content;
}

.list_task textarea {
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    padding: 0 10px;
    resize: vertical;
    position: relative;
    right: 5px;
    width: 400px;
    height: 40px;
    line-height: 40px;
    min-height: 40px;
    background: none;
    border: none;
}

.list_task button {
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    float: right;
    background: blue;
}

.back button:hover {transform: scale(1.2)}

.time *, .time input::placeholder, .time, .item button, #add_day_task, #add_month_task, .alert, .back button {transition: 0.2s ease-out}
.item button:hover, #add_day_task:hover, #add_month_task:hover, .alert, .back button:hover {transition: 0.1s ease-in-out}
.item button:active, #add_day_task:active, #add_month_task:active, .alert:active, .back button:active {transform: scale(1)}
.back button:active {opacity: 0}
.item {transition: 0.1s ease-out; transition-property: opacity, left}
